body {
  text-align: center;
  font-family: "Fleur De Leah", serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  padding: 0px;
  background-color: pink;
}

.container {
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
}

.cat {
  height: 200px;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: rgb(222, 49, 99);
  color: white;
  margin-top: 20px;
  margin-right: 100px;
}

#yes {
  position: relative;
  display: flex;
  align-items: center;
}

#no {
  transition: 0.2s;
  position: absolute;
  margin-left: 0px;
}
